<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, iste fugit ullam et rerum magni illo impedit voluptatum nemo, mollitia corrupti praesentium error quas suscipit quod vero earum, debitis unde aliquid a obcaecati distinctio. Quisquam a ea similique facere maiores.</p>
    </div>
</div>