<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos totam quisquam dolor reprehenderit. Autem assumenda iste est consequuntur quas atque vero. Tenetur repudiandae, non illum a nesciunt labore ratione nemo ipsum, modi dolore aliquid qui cumque.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>