<div class="row">
    <div class="card-columns">
        {{#each notes}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        {{title}}
                        <a href="#" class=""><i class="fa fa-edit"></i></a>
                    </h5>
                    <p>{{description}}</p>
                    <button class="btn btn-danger btn-block .btn-sm">Borrar</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>